<!--=================About section=============== -->
<section id="contact" class="section dark-grey-text text-center">

    <div class="container pt-5 mt-5">
        <div class="row">
            <div class="mt-4 col-md-12 text-left">
                <h3 class="mt-5 pb-2">Our Mission, Vision and Values</h3>
                <ul>
                    <h5><img class="mt-3 mission_icon" src="assets/img/others/mission.png">Secure our clients from intruders and Meet Our Clients Targets & Expectations</h5>
                    <h5><img class="mt-3 mission_icon" src="assets/img/others/vision2.png">Provide Fast, reliable solutions and competent After Sales Support.</h5>
                    <h5><img class="mt-3 mission_icon" src="assets/img/others/values2.png">We are delivering unique, tailor made and cost effective solutions</h5>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="mt-5 col-md-6 text-left">
                <h1 class="mt-5 pb-2">Why Remal ?!</h1>
                <ul>
                <h5><span class="cap_letter">R</span>eal, unique, tailor made and cost effective solutions.</h5>
                <h5><span class="cap_letter">E</span>xcellent value on time, every time.</h5>
                <h5><span class="cap_letter">M</span>eet customer’s unique security requirements.</h5>
                <h5><span class="cap_letter">A</span>dequate maintenance of security systems.</h5>
                <h5><span class="cap_letter">L</span>eading security system partner, manufacturer and supplier.</h5>
                </ul>
            </div>
            <div class="mt-5 pt-5 col-md-6">
                <img class="about-head-img mt-3" style="max-width: 50%" src="assets/img/others/writing.png">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5 pt-5 ">
                <img class="mt-3" style="max-width: 50%" src="assets/img/others/shield.png">
            </div>
            <div class="col-md-6 mt-5 text-left">
                <h1 class="mt-5 pb-2">Achivements</h1>
                <ul>
                    <h5><li>More than 200 completed projects and keep onincreasing.</li></h5>
                    <h5><li>Projects worth of 65.000.000 in 2018.</li></h5>
                    <h5><li>More than 400 employees that work together to fulfiltheir mission and soon we will reach 500.</li></h5>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6 mt-5 text-left">
                <h1 class="mt-5 pb-2">We Are Exapnding Every Day</h1>
                <ul>
                    <h6><span class="grow-year">2011</span>Heliopolis Technical Services was established as its core business.</h6>
                    <h6><span class="grow-year">2013</span>Remal Security has been established.</h6>
                    <h6><span class="grow-year">2014</span>Remal expanded its local business with Remal First Class.</h6>
                    <h6><span class="grow-year">2015</span>Remal extended by opening it’s first branch outside Qatar,in Egypt.</h6>
                    <h6><span class="grow-year">2018</span>Re-branding is done. This gave birth to Remal International.</h6>
                    </ul>
            </div>
            <div class="col-md-6 mt-5 pt-5 ">
                <img class="mt-1" style="max-height: 60%;" src="assets/img/others/grow.png">
            </div>
        </div>
        <h3 class="">the journey is still on...</h3>
    </div>

</section>

<!--=================End of About section=============== -->

