<app-slider [coverImages]="coverImages"></app-slider>
<!-- ===================About us section===============================-->
<section id="figuresId" class="mt-5 section dark-grey-text text-center">
    <div class="container mt-5 mb-5">
        <div>
            <h1>
                REMAL IN FIGURES
            </h1>
            <hr>
            <div class="row col-xs-6 mt-5">
                <img class="img-fluid" src="assets/img/others/about.jpg">
            </div>
            <div class="col-xs-3 col-sm-offset-4 overlay-text text-left">
                <ul>
                    <h5>
                        Remal International was established in 2011 and has been active in the Qatar market as a
                        renowned system integrator for Fire & Safety, Security, and ELV system.
                    </h5>
                    <h5>
                        More than 200 completed projects and keep onincreasing.
                    </h5>
                    <h5>
                        Projects worth of 65.000.000 in 2018.
                    </h5>
                    <h5>
                        More than 400 employees that work together to fulfiltheir mission and soon we will reach 500.
                    </h5>
                </ul>
            </div>
        </div>

    </div>
</section>
<!-- ===================End About us section===============================-->

<!-- ===================Company Cards section===================== -->
<section id="companyCardsId" class="section dark-grey-text text-center">
    <div class="container  mt-5 mb-5">
        <!-- <div class="row col-md-12"> -->
            <h1>
                Our Companies
            </h1>
            <hr>
        <!-- </div> -->
        <div class="row center-cards">
            <div class="col-md-5 mt-5">
                <app-company-card [companyImage]="'assets/img/circle.jpg'" [companyName]="getProjects()">
                </app-company-card>
            </div>
            <div class="col-md-5 mt-5">
                <app-company-card [companyImage]="'assets/img/circle.jpg'" [companyName]="getLighting()">
                </app-company-card>
            </div>
            <div class="col-md-5 mt-5">
                <app-company-card [companyImage]="'assets/img/circle.jpg'" [companyName]="getFoodAndBeverage()">
                </app-company-card>
            </div>
            <div class="col-md-5 mt-5">
                <app-company-card [companyImage]="'assets/img/circle.jpg'" [companyName]="getRealEstate()">
                </app-company-card>
            </div>

        </div>
    </div>
</section>
<!-- ===================End Company Cards section===================== -->

<!-- ===================Partner section===============================-->
<section id="partnersId" class="mt-5 section dark-grey-text text-center">
    <div class="container-fluid mt-5 mb-5">
        <h1>
            OUR PARTENERS
        </h1>
        <hr>
        <div class="row text-center partener-section">
            <img class="logos" src="assets/img/partners/avolux.png">
            <img class="logos" src="assets/img/partners/bridgelux.jpg">
            <img class="logos" src="assets/img/partners/cree.jpg">
            <img class="logos" src="assets/img/partners/philips.jpg">
            <img class="logos" src="assets/img/partners/onelight_b.png">
            <img class="logos" src="assets/img/partners/meanwell.jpg">
            <img class="logos" src="assets/img/partners/schreder.png">
        </div>
    </div>
</section>
<!-- ===================End Partner section===============================-->

<!-- ===================Clients section===============================-->
<section id="clientsId" class="mt-5 section dark-grey-text text-center">
    <div class="container-fluid mt-5 mb-5">
        <h1>
            OUR CLIENTS
        </h1>
        <hr>
        <div class="row partener-section">
            <img class="logos" src="assets/img/clients/57357_2.png">
            <img class="logos" src="assets/img/clients/egybank_w.jpg">
            <img class="logos" src="assets/img/clients/egygab.jpg">
            <img class="logos" src="assets/img/clients/jaz4.jpg">
            <img class="logos" src="assets/img/clients/aramex3.png">
            <img class="logos" src="assets/img/clients/travco.jpg">
            <img class="logos" src="assets/img/clients/mcv2.jpg">
            <img class="logos" src="assets/img/clients/opera.png">
        </div>
    </div>
</section>
<!-- ===================End Clients section===============================-->


