<app-slider [coverImages]="coverImages"></app-slider>
<!-- ===================About us section===============================-->
<section id="figuresId" class="mt-5 mb-5 section dark-grey-text text-center">
    <div class="container mt-5 pb-5 mb-5">
        <div>
            <h1>
                A Word from the CEO
            </h1>
            <hr>
            <div class="row col-xs-6 mt-5" style="max-height: 15vw;">
                <img class="img-fluid" src="assets/img/others/about.jpg">
            </div>
            <div class="col-xs-3 col-sm-offset-4 overlay-text text-left">
                <ul>
                    <h5>
                        Our Chief Executive Officer provides the mandate and leadership for the Executive Team to work in partnership across our operational groups; he leads and implements continuous improvements in business processes and ensuring delivery of customer centric
                        services </h5>
                    <div style="float:right;font-size: 16px; font-weight: bold;">
                        Eng. Ahmed Mokhtar

                    </div>
                </ul>

            </div>
        </div>

    </div>
</section>
<!-- ===================End About us section===============================-->

<!-- ===================Company Cards section===================== -->
<section id="companyCardsId" class="mt-5 mb-5 pt-5 section dark-grey-text text-center">
    <div class="container  mt-5 mb-5 pb-5">
        <!-- <div class="row col-md-12"> -->
        <h1>
            Our Companies
        </h1>
        <hr>
        <!-- </div> -->
        <div class="row center-cards">
            <div class="col-md-6 mt-5">
                <app-company-card [companyImage]="'assets/img/circle.jpg'" [companyNames]="getEgyptProjects()" [companyBranch]="getEgyptBranch()">
                </app-company-card>
            </div>
            <div class="col-md-6 mt-5">
                <app-company-card [companyImage]="'assets/img/circle.jpg'" [companyNames]="getGulfProjects()" [companyBranch]="getGulfBranch()">
                </app-company-card>
            </div>

        </div>
    </div>
</section>
<!-- ===================End Company Cards section===================== -->