.carousel .carousel-item {
    transition-duration: 0.9s;
}

.animated {
    visibility: visible !important;
}

.hide-on-init {
    visibility: hidden;
}

.overlay-text {
    font-size: 2vw;
    /* float:right; */
    margin-left: 40%;
    width: 65%;
    padding: 1.5vw;
    top: -5vw;
    background: #f7f7f7;
    position: relative;
}