<div id="slider">
    <!-- ===================Slider section===================== -->
    <mdb-carousel class="carousel slide " [animation]="'slide'" id="slider">
        <mdb-carousel-item>
            <div class="view w-100">
                <img class="d-block w-100 responsive" src="assets/img/others/6.jpg" alt="First slide">
                <div class="mask  waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
                <h2 class="responsive-sm" style="font-size: 50px;">The Most <br> Prestigious Test</h2>
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <div class="view w-100">
                <img class="d-block w-100 responsive" src="assets/img/others/4.jpg" alt="Second slide">
                <div class="mask  waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <div class="view w-100">
                <img class="d-block w-100 responsive" src="assets/img/others/5.jpg" alt="Third slide">
                <div class="mask  waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
            </div>
        </mdb-carousel-item>
    </mdb-carousel>

</div>
<!-- ===================End Slider section===================== -->

<!-- ===================About us section===============================-->
<section id="whoWeAreId" class="section dark-grey-text text-center">
    <div class="container mt-5 mb-5">
        <div class="row mt-5">
            <div class="col-md-12">
                <h1>
                    Who We Are
                </h1>
                <hr>
            </div>
            <div class="col-md-12">
                <p style="text-align: center;">
                    Remal International was established in 2011 and has
                    been active in the Qatar market as a renowned system
                    integrator for Fire & Safety, Security, and ELV system.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- ===================End About us section===============================-->

<!-- ===================Company Cards section===================== -->
<section id="companyCardsId" class="section dark-grey-text text-center">
    <div class="container">
        <div class="col-md-12">
            <h1>
                Our Companies
            </h1>
            <hr>
        </div>
        <div class="row center-cards">
            <div class="col-md-5 mt-5">
                <app-company-card></app-company-card>
            </div>
            <div class="col-md-5 mt-5">
                <app-company-card></app-company-card>
            </div>
            <div class="col-md-5 mt-5">
                <app-company-card></app-company-card>
            </div>
            <div class="col-md-5 mt-5">
                <app-company-card></app-company-card>
            </div>

        </div>
    </div>
</section>
<!-- ===================End Company Cards section===================== -->

<!-- ===================Partner section===============================-->
<section id="partnersId" class="mt-5 section dark-grey-text text-center">
    <div class="mt-5 mb-5">
        <h1>
            OUR PARTENERS
        </h1>
        <hr>
        <div class="row text-center partener-section">
            <img class="logos" src="assets/img/partners/avolux.png">
            <img class="logos" src="assets/img/partners/bridgelux.jpg">
            <img class="logos" src="assets/img/partners/cree.jpg">
            <img class="logos" src="assets/img/partners/philips.jpg">
            <img class="logos" src="assets/img/partners/onelight_b.png">
            <img class="logos" src="assets/img/partners/meanwell.jpg">
            <img class="logos" src="assets/img/partners/schreder.png">
        </div>
    </div>
</section>
<!-- ===================End Partner section===============================-->

<!-- ===================Clients section===============================-->
<section id="clientsId" class="mt-5 section dark-grey-text text-center">
    <div class="mt-5 mb-5">
        <h1>
            OUR CLIENTS
        </h1>
        <hr>
        <div class="row partener-section">
            <img class="logos" src="assets/img/clients/57357_2.png">
            <img class="logos" src="assets/img/clients/egybank_w.jpg">
            <img class="logos" src="assets/img/clients/egygab.jpg">
            <img class="logos" src="assets/img/clients/jaz2.jpg">
            <img class="logos" src="assets/img/clients/aramex3.png">
            <img class="logos" src="assets/img/clients/travco.jpg">
            <img class="logos" src="assets/img/clients/mcv2.jpg">
            <img class="logos" src="assets/img/clients/opera.png">
        </div>
    </div>
</section>
<!-- ===================End Clients section===============================-->
