<!-- ===================About us section===============================-->
<section id="whoWeAreId" class="section dark-grey-text text-center mt-5 py-5">
    <div class="container mt-5 mb-5">
        <div class="row mt-5">
            <div class="col-md-12">
                <h1>
                    Remal Security
                </h1>
                <hr>
            </div>
            <div class="col-md-12 mt-5">
                <p style="text-align: center;">
                    OUR MISSION is to provide a friendly comfortable atmosphere where the customers can receive quality food, drinks and service at a reasonable price.
                </p>
                <p style="text-align: center;">
                    OUR VISION is to be one of the most unique food and beverage chain in Middle East , providing quality customer satisfaction and friendly atmosphere
                </p>
            </div>
        </div>
    </div>
</section>
<!-- ===================End About us section===============================-->
<!-- ===================Projects  section===============================-->
<section id="whoWeAreId" class="section dark-grey-text text-center">
    <div class="container mb-5">
        <div class="row mt-5">
            <div class="col-md-12">
                <h1>
                    Our Projects
                </h1>
                <hr>
            </div>
            <div class="row col-md-12 mt-5">
                <div class="col-md-6 mt-5">
                    <h4 class="mb-3 text-left">Central Market</h4>
                    <p class="text-left">
                        Project Description Project DescriptionProject DescriptionProject DescriptionProject DescriptionProject DescriptionProject Description Project Description Project DescriptionProject DescriptionProject DescriptionProject DescriptionProject DescriptionProject
                        Description
                    </p>
                </div>
                <div class="col-md-6 mt-5">
                    <img src="assets/img/security/project/central-market.jpg" class="proj-img">
                </div>
            </div>
            <div class="row col-md-12 mt-5">
                <div class="col-md-6 mt-5">
                    <img src="assets/img/security/project/hamad-inter-airport.jpg" class="proj-img">
                </div>
                <div class="col-md-6 mt-5">
                    <h4 class="mb-3 text-left">Hamad International Airport</h4>
                    <p class="text-left">
                        Project Description Project DescriptionProject DescriptionProject DescriptionProject DescriptionProject DescriptionProject Description Project Description Project DescriptionProject DescriptionProject DescriptionProject DescriptionProject DescriptionProject
                        Description
                    </p>
                </div>
            </div>
            <div class="row col-md-12 mt-5">
                <div class="col-md-6 mt-5">
                    <h4 class="mb-3 text-left">Msheireb Properties</h4>
                    <p class="text-left">
                        Project Description Project DescriptionProject DescriptionProject DescriptionProject DescriptionProject DescriptionProject Description Project Description Project DescriptionProject DescriptionProject DescriptionProject DescriptionProject DescriptionProject
                        Description
                    </p>
                </div>
                <div class="col-md-6 mt-5">
                    <img src="assets/img/security/project/msheireb-properties.jpg" class="proj-img">
                </div>
            </div>
            <div class="row col-md-12 mt-5">
                <div class="col-md-6 mt-5">
                    <img src="assets/img/security/project/porto-arabia.jpg" class="proj-img">
                </div>
                <div class="col-md-6 mt-5">
                    <h4 class="mb-3 text-left">Porto Arabia</h4>
                    <p class="text-left">
                        Project Description Project DescriptionProject DescriptionProject DescriptionProject DescriptionProject DescriptionProject Description Project Description Project DescriptionProject DescriptionProject DescriptionProject DescriptionProject DescriptionProject
                        Description
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ===================End Projects section===============================-->


<section id="galleryId" class="section dark-grey-text text-center">
    <div class="container mt-5 mb-5">
        <div class="row mt-5">
            <div class="col-md-12">
                <h1>
                    Our Gallery
                </h1>
                <hr>
            </div>
            <div class="col-md-12 mt-5">
                <app-gallery [images]="galleryImages"></app-gallery>
            </div>
        </div>
    </div>
</section>
<!-- ===================End gallery section===============================-->

<!-- ===================Contact section===============================-->

<section id="contactId" class="section dark-grey-text text-center">
    <div class="container mt-5 mb-5">
        <div class="row mt-5">
            <div class="col-md-6 mt-5">
                <img class="mt-5 pt-5" src="assets/img/RS_logo.png" alt="contact-img" style="width:100%;">
            </div>
            <div class="col-md-6 mt-5">
                <app-contact-form [contactForm]="contactForm"> </app-contact-form>
                <div class="text-center">
                    <button class="main_btn">Send Message</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ===================End contact section===============================-->

<!-- ===================Partner section===============================-->
<section id="partnersId" class="mt-5 section dark-grey-text text-center">
    <div class="container-fluid mt-5 mb-5">
        <h1>
            OUR PARTENERS
        </h1>
        <hr>
        <div class="row text-center partener-section">
            <img class="logos" src="assets/img/partners/avolux.png">
            <img class="logos" src="assets/img/partners/bridgelux.jpg">
            <img class="logos" src="assets/img/partners/cree.jpg">
            <img class="logos" src="assets/img/partners/philips.jpg">
            <img class="logos" src="assets/img/partners/onelight_b.png">
            <img class="logos" src="assets/img/partners/meanwell.jpg">
            <img class="logos" src="assets/img/partners/schreder.png">
        </div>
    </div>
</section>
<!-- ===================End Partner section===============================-->
<!-- ===================Clients section===============================-->
<section id="clientsId" class="mt-5 section dark-grey-text text-center">
    <div class="container-fluid mt-5 mb-5">
        <h1>
            OUR CLIENTS
        </h1>
        <hr>
        <div class="row partener-section">
            <img class="logos" src="assets/img/clients/57357_2.png">
            <img class="logos" src="assets/img/clients/egybank_w.jpg">
            <img class="logos" src="assets/img/clients/egygab.jpg">
            <img class="logos" src="assets/img/clients/jaz4.jpg">
            <img class="logos" src="assets/img/clients/aramex3.png">
            <img class="logos" src="assets/img/clients/travco.jpg">
            <img class="logos" src="assets/img/clients/mcv2.jpg">
            <img class="logos" src="assets/img/clients/opera.png">
        </div>
    </div>
</section>
<!-- ===================End Clients section===============================-->