<p-toast position="center" key="confirm" (onClose)="onReject()" [modal]="true" [baseZIndex]="5000" styleClass="custom-toast">
    <ng-template let-message pTemplate="message">
        <div style="text-align: center">
            <i class="pi pi-exclamation-triangle" style="font-size: 3em"></i>
            <h3>{{message.summary}}</h3>
            <p>{{message.detail}}</p>
        </div>
        <div class="ui-g ui-fluid">
            <div class="ui-g-6">
                <button type="button" pButton (click)="onConfirm()" label="Confirm" class="btn btn-primary"></button>
            </div>
            <div class="ui-g-6">
                <button type="button" pButton (click)="onReject()" label="Cancel" class="btn ui-button-secondary"></button>
            </div>
        </div>
    </ng-template>
</p-toast>
<form [formGroup]="companyForm" (ngSubmit)="applyChanges()" class="container">

    <section id="companyId" class="section dark-grey-text text-center mb-5">
        <div class="container  mt-5 pt-5">
            <!-- <div class="row col-md-12"> -->
            <h1>
                Remal {{companyName}}
            </h1>
            <hr>
        </div>
        <!-- <div class="col-md-12 mt-5 form-group" formGroupName="aboutGroup">
            <mat-form-field class="example-full-width" appearance="outline">
                <textarea rows="5" matInput formControlName="about"></textarea>
            </mat-form-field>
        </div> -->
    </section>
    <section *ngIf="projectsFlag" id="proujectsId" class="section dark-grey-text text-center">
        <div class="container mb-5">
            <div class="row mt-5">
                <div class="col-md-12">
                    <h1>
                        OUR PROJECTS
                    </h1>
                    <hr>
                </div>
                <div formGroupName="projectsGroup">
                    <div formArrayName="projects">
                        <div class="row col-md-12 mt-5" *ngFor="let p of projects.controls; let i=index">
                            <div class="col-md-6 mt-5" *ngIf="i%2==0" [formGroupName]="i">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>title</mat-label>
                                    <input matInput formControlName="title">
                                </mat-form-field>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>desc</mat-label>
                                    <textarea rows="5" matInput formControlName="desc"></textarea>

                                </mat-form-field>
                                <div class="row">
                                    <div class="custom-file col-md-7">
                                        <input class="file-up" #inputFile type="file" id="inputFile" (change)="handleFileInput($event.target.files,i,Categories.PROJECT)">
                                    </div>
                                    <div class="col-md-1">
                                        <i *ngIf="checkFileUploaded(i,Categories.PROJECT)" (click)="inputFile.value = ''; deleteUploadFile(i,Categories.PROJECT)" style="vertical-align: bottom;" class="fas fa-times"></i>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" (click)="showConfirm(i,Categories.PROJECT)" class="btn btn-danger">Delete Item</button>
                                    </div>
                                </div>
                                <!-- <i class="fas fa-times"></i> -->
                            </div>
                            <div class="col-md-6 mt-5 box-item" *ngIf="i%2==0">
                                <img [src]="getImagePath(p.controls.path.value)" style="height: 260px; width: 100%;" class="box-img">
                            </div>

                            <div class="col-md-6 mt-5 box-item" *ngIf="i%2==1">
                                <img [src]="getImagePath(p.controls.path.value)" style="height: 260px; width: 100%;" class="box-img">
                            </div>
                            <div class="col-md-6 mt-5" *ngIf="i%2==1" [formGroupName]="i">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>title</mat-label>
                                    <input matInput formControlName="title">
                                </mat-form-field>
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>desc</mat-label>
                                    <textarea rows="5" matInput formControlName="desc"></textarea>
                                </mat-form-field>
                                <div class="row">
                                    <div class="custom-file col-md-7">
                                        <input class="file-up" type="file" id="file" (change)="handleFileInput($event.target.files,i,Categories.PROJECT)">
                                    </div>
                                    <div class="col-md-1">
                                        <i *ngIf="checkFileUploaded(i,Categories.PROJECT)" style="vertical-align: bottom;" class="fas fa-times"></i>
                                    </div>
                                    <div class="col-md-4">
                                        <button type="button" (click)="showConfirm(i,Categories.PROJECT)" class="btn btn-danger">Delete Item</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>


    <section *ngIf="productsFlag" id="productsId" class="section dark-grey-text text-center">
        <div class="container mb-5">
            <div class="row mt-5">
                <div class="col-md-12">
                    <h1>
                        PRODUCTS
                    </h1>
                    <hr>
                </div>

                <div formGroupName="productsGroup">
                    <div formArrayName="products">
                        <div class="row col-md-12 mt-5">
                            <div class="col-md-3 mt-5" *ngFor="let p of products.controls; let i=index">
                                <div [formGroupName]="i">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>title</mat-label>
                                        <input matInput formControlName="title">
                                    </mat-form-field>
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>category</mat-label>
                                        <input matInput formControlName="category">
                                    </mat-form-field>
                                    <input style="display: block;" type="file" id="file" (change)="handleFileInput($event.target.files,i,Categories.PRODUCT)">
                                </div>
                                <div class="col-md-6 mt-5 box-item">
                                    <img [src]="getImagePath(p.controls.path.value)" class="box-img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section *ngIf="galleryFlag" id="galleryId" class="section dark-grey-text text-center">
        <div class="container-fluid mb-5">
            <div class="row mt-5">
                <div class="col-md-12">
                    <h1>
                        GALLERY
                    </h1>
                    <hr>
                </div>
                <div formGroupName="galleryGroup">
                    <div formArrayName="gallery">
                        <div class="row col-md-12 mt-5">
                            <div class="col-md-4 mb-5 box-item" style="height: 100%;" *ngFor="let p of gallery.controls; let i=index" [formGroupName]="i">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>title</mat-label>
                                    <input matInput formControlName="title">
                                </mat-form-field>
                                <input style="display: block;" type="file" id="file" (change)="handleFileInput($event.target.files,i,Categories.GALLERY)">
                                <img style="width: 100%; height: 150px;" [src]="getImagePath(p.controls.path.value)" class="mt-2 box-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section *ngIf="partnersFlag" id="partnersId" class="mt-5 section dark-grey-text text-center">
        <div class="container-fluid mb-5">
            <h1>
                OUR PARTNERS
            </h1>
            <hr>

            <div formGroupName="partnersGroup">
                <div formArrayName="partners">
                    <div class="row col-md-12 mid-div">
                        <div class="col-md-3 mt-5" [formGroupName]="i" *ngFor="let p of partners.controls; let i=index">
                            <input style="display: block;" type="file" id="file" (change)="handleFileInput($event.target.files,i,Categories.PARTNER)">
                            <div class="box-item">
                                <img style="height: 200px;" [src]="getImagePath(p.controls.path.value)" class="mt-2 box-img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section *ngIf="clientsFlag" id="clientsId" class="mt-5 section dark-grey-text text-center">
        <div class="container-fluid mb-5">
            <h1>
                OUR CLIENTS
            </h1>
            <hr>

            <div formGroupName="clientsGroup">
                <div formArrayName="clients" class="row col-md-12 mid-div">
                    <div class="col-md-3 mt-5" [formGroupName]="i" *ngFor="let p of clients.controls; let i=index">
                        <input style="display: block;" type="file" id="file" (change)="handleFileInput($event.target.files,i,Categories.CLIENT)">
                        <div class="box-item">
                            <img style="height: 200px;" [src]="getImagePath(p.controls.path.value)" class="  box-img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container-fluid mb-5">
        <div style="text-align: right;">
            <a routerLink="" type="button" (click)="cancel()" class="btn btn-link" style="color: #399dd7;">Cancel</a>
            <button type="submit" class="btn btn-primary" style="background-color: #399dd7;">Apply Changes</button>
        </div>
    </div>

</form>