<div class="img-contain">
    <img src="assets/img/others/careers.png">
</div>
<section id="exapndId" class="section dark-grey-text text-center">
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-md-12">
                <h1>
                    People are stronger when they are working together
                </h1>
                <hr>
            </div>
            <div class="col-md-12">
                We are a multi-disciplinary and multi-cultural organization and we value diversity in an environment that encourages excellence. We believe in a commitment to the principle of “One REMAL”, finding more effective ways to work and supporting each other,
                while setting standards of personal and professional conduct -all the while delivering projects and services that exceed client expectations.
            </div>
        </div>
    </div>
</section>
<!-- ===================End acheivements section===============================-->
<!-- ==================Job Cards section===================== -->
<section id="jobCardsId" class="section dark-grey-text text-center">
    <div class="container  mt-5 mb-5">
        <h1>
            Available Jobs
        </h1>
        <hr>
        <div class="row ">
            <div class="col-md-6 mt-5" *ngFor="let availableJob of availablesJobs">
                <app-career-card [availableJob]="availableJob"></app-career-card>
            </div>
            <!-- <div class="col-md-6 mt-5">
                <app-career-card></app-career-card>
            </div>
            <div class="col-md-6 mt-5">
                <app-career-card></app-career-card>
            </div>
            <div class="col-md-6 mt-5">
                <app-career-card></app-career-card>
            </div>
            <div class="col-md-6 mt-5">
                <app-career-card></app-career-card>
            </div> -->
        </div>
    </div>
</section>
<!-- ===================End job Cards section===================== -->