<div id="slider">
    <!-- ===================Slider section===================== -->
    <mdb-carousel class="carousel slide " [animation]="'slide'" id="slider">
        <mdb-carousel-item>
            <div class="view w-100">
                <img class="d-block w-100 responsive" src="assets/img/slide2.jpg" alt="First slide">
                <div class="mask  waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
                <h2 class="responsive-sm" style="font-size: 50px;">The Most <br> Prestigious Test</h2>
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <div class="view w-100">
                <img class="d-block w-100 responsive" src="assets/img/slide2.jpg" alt="Second slide">
                <div class="mask  waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <div class="view w-100">
                <img class="d-block w-100 responsive" src="assets/img/slide2.jpg" alt="Third slide">
                <div class="mask  waves-light" mdbWavesEffect></div>
            </div>
            <div class="carousel-caption">
            </div>
        </mdb-carousel-item>
    </mdb-carousel>

</div>
<!-- ===================End Slider section===================== -->

<!-- ===================Company Cards section===================== -->
<section id="companyCardsId" class="section dark-grey-text text-center">
    <div class="container">
        <div class="row center-cards">
            <div class="col-md-3 mt-5">
                <app-company-card></app-company-card>
            </div>
            <div class="col-md-3 mt-5">
                <app-company-card></app-company-card>
            </div>
            <div class="col-md-3 mt-5">
                <app-company-card></app-company-card>
            </div>
            <div class="col-md-3 mt-5">
                <app-company-card></app-company-card>
            </div>

        </div>
    </div>
</section>
<!-- ===================End Company Cards section===================== -->


<!-- ===================About us section===============================-->
<section id="aboutUsId" class="section dark-grey-text text-center">
    <div class="container mt-5 mb-5">
        <div class="row mt-5">
            <div class="col-md-6">
                <h1>
                    ABOUT US
                </h1>
                <hr>
            </div>
            <div class="col-md-6">
                <p style="text-align: left;">
                    Remal International was established in 2011 and has
                    been active in the Qatar market as a renowned system
                    integrator for Fire & Safety, Security, and ELV system.
                </p>
                <p style="text-align: left;">
                    More than 200 completed projects and keep on
                    increasing.
                </p>
                <p style="text-align: left;">
                    More that 10.000 CCTV installed.
                </p>
                <p style="text-align: left;">
                    Projects worth of 65.000.000 in 2018.
                </p>
                <p style="text-align: left;">
                    More than 400 employees that work together to fulfil
                    their mission and soon we will reach 500.
                </p>
                <p style="text-align: left;">
                    Solution partners from all around the world.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- ===================End About us section===============================-->


<!-- ===================Expand section===============================-->
<section id="exapndId" class="section dark-grey-text text-center">
    <div class="container mt-5 mb-5">
        <div class="row mt-5">
            <div class="col-md-6">
                <h1>
                    WE ARE EXPANDING EVERY DAY
                </h1>
                <hr>
            </div>
            <div class="col-md-6">
                <img class="d-block w-100 responsive" src="">

            </div>
        </div>
    </div>
</section>
<!-- ===================End Expand section===============================-->

<!-- ===================Services section===============================-->
<section id="serviceId" class="section dark-grey-text text-center">
    <div class="container mt-5 mb-5">
        <div class="row mt-5">
            <div class="col-md-6">
                <img class="d-block w-100 responsive" src="">
            </div>
            <div class="col-md-6">
                <h1>
                    OUR SERVICES
                </h1>
                <hr>
            </div>
        </div>
    </div>
</section>
<!-- ===================End Services section===============================-->

<!-- ===================Partner section===============================-->
<section id="aboutUsId" class="section dark-grey-text text-center">
    <div class="mt-5 mb-5">
        <h1>
            OUR PARTENERS
        </h1>
        <hr>
        <div class="partener-section">
            <img src="assets/img/logo.png">

        </div>
    </div>
</section>
<!-- ===================End Partner section===============================-->


<!--=================Contact section=============== -->
<section id="contact" class="section dark-grey-text text-center">

    <div class="container mt-5">
        <div class="card-body">
            <h1 class="section-heading mb-3">Contact us</h1>
            <h5>We would love to hear from you! Get in touch, and we will reply ASAP. Your information will only be used
                to contact you about
                this enquiry, it will not be passed on to any third parties.
                <br>You will not be added to an email marketing list.
            </h5>
        </div>
    </div>
    <div class="container">
        <div class="row center-cards mb-3 mt-5">

            <div class="col-md-3">
                <h6><i class="fas fa-map-marker-alt "></i> 60 Middle Street, Beeston,
                    <br>Nottingham, UK
                </h6>
            </div>

            <div class="col-md-3">
                <h6><i class="fas fa-phone "></i> +20XXX-XXX-XXXX</h6>
            </div>

            <div class="col-md-3">
                <h6><i class="fas fa-envelope-open "></i> @XXX</h6>

            </div>
        </div>
        <div class="row">

            <div class="col-lg-12 mt-5 mb-2">
                <!--Google map-->
                <div id="map-container-google-1" class="z-depth-1-half map-container" style="height: 500px">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1202.5905629370814!2d-1.211438686760274!3d52.927167458061994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4879e9dca7b89b4d%3A0x748aa064991346e2!2s60%20Middle%20St%2C%20Beeston%2C%20Nottingham%20NG9%202AR%2C%20UK!5e0!3m2!1sen!2seg!4v1592875125122!5m2!1sen!2seg"
                        width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""
                        aria-hidden="false" tabindex="0"></iframe>
                </div>

            </div>


        </div>
    </div>

</section>