<!-- ===================About us section===============================-->
<section id="whoWeAreId" class="section dark-grey-text text-center mt-5">
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-md-12">
                <h1 class="mt-5">
                    Remal Projects
                </h1>
                <hr>
            </div>
            <div class="col-md-12 mt-5">
                <h5 style="text-align: center;">
                    we are remal projects an egyptian company since 2015, espicialized in lighting and low current systems.
                    We supply all types of lightning indoor and outdoor, and for low current we supply and install CCTV, data and Telephone and fire alarm system                
                </h5>
            </div>
        </div>
    </div>
</section>
<!-- ===================End About us section===============================-->
<!-- ===================Projects  section===============================-->
<section id="whoWeAreId" class="section dark-grey-text text-center">
    <div class="container mb-5">
        <div class="row mt-5">
            <div class="col-md-12">
                <h1>
                    Our Projects
                </h1>
                <hr>
            </div>
            <div class="row col-md-12 mt-5">
                <div class="col-md-6 mt-5">
                    <h4 class="mb-3 text-left">El-Fardous Axis</h4>
                    <p class="text-left">
                        It is our pleasure to design street lighting system for fardous axis and supply our steet lightting luminaire RE - ST - 100W to lighten this huge project.
                        <br>It is our pleasue too to deal with Egyptian central device for construction, concord for engieering and elsalam intenational to do our best to make traffic easier as the egypption president needs"                    
                    </p>
                </div>
                <div class="col-md-6 mt-5">
                    <img src="assets/img/projects-eg/1.png" class="proj-img">
                </div>
            </div>
            <div class="row col-md-12 mt-5">
                <div class="col-md-6 mt-5">
                    <h4 class="mb-3 text-left">Moutain View Projects</h4>
                    <p class="text-left">
                        it is our pleasure to deal with DMA for mountain view projects like ( Icity, Hyde Park and Chillout Park) to supply them with land scape luminaire like spikes, bollards, uplight, step light and bulk heads 
                    </p>
                </div>
                <div class="col-md-6 mt-5">
                    <img src="assets/img/projects-eg/3.jpeg" class="proj-img">
                </div>
            </div>
            <div class="row col-md-12 mt-5">
                <div class="col-md-6 mt-5">
                    <h4 class="mb-3 text-left">Grand Plaza</h4>
                    <p class="text-left">
                        it's our work in such mega project to ssupplyy them with lightting fixturees and low current system like CCTV, fire alarm, data and TELE systems"
                    </p>
                </div>
                <div class="col-md-6 mt-5">
                    <img src="assets/img/projects-eg/6.png" class="proj-img">
                </div>
            </div>
            <div class="row col-md-12 mt-5">
                <div class="col-md-6 mt-5">
                    <h4 class="mb-3 text-left">JAZ AQUAMARINE</h4>
                    <p class="text-left">
                        it is our pleasure to deal with one of our best partner Travco to design and supply lighting system
                    </p>
                </div>
                <div class="col-md-6 mt-5">
                    <img src="assets/img/projects-eg/8.jpeg" class="proj-img">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ===================End Projects section===============================-->
<section id="galleryId" class="section dark-grey-text text-center">
    <div class="container mt-5 mb-5">
        <div class="row mt-5">
            <div class="col-md-12">
                <h1>
                    Our Gallery
                </h1>
                <hr>
            </div>
            <div class="col-md-12 mt-5">
                <app-gallery></app-gallery>
            </div>
        </div>
    </div>
</section>
<!-- ===================End gallery section===============================-->

<!-- ===================Contact section===============================-->

<section id="contactId" class="section dark-grey-text text-center">
    <div class="container mt-5 mb-5">
        <div class="row mt-5">
            <div class="col-md-6 mt-5">
                <img class="mt-5 pt-5" src="assets/img/RP Logo.png" alt="contact-img" style="width:100%;">
            </div>
            <div class="col-md-6 mt-5">
                <app-contact-form [contactForm]="contactForm"> </app-contact-form>
                <div class="text-center">
                    <button class="main_btn">Send Message</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ===================End contact section===============================-->

<!-- ===================Partner section===============================-->
<section id="partnersId" class="mt-5 section dark-grey-text text-center">
    <div class="container-fluid mt-5 mb-5">
        <h1>
            OUR PARTENERS
        </h1>
        <hr>
        <div class="row text-center partener-section">
            <img class="logos" src="assets/img/partners/bridgelux.jpg">
            <img class="logos" src="assets/img/partners/philips.jpg">
            <img class="logos" src="assets/img/partners/onelight_b.png">
            <img class="logos" src="assets/img/partners/meanwell.jpg">
            <img class="logos" src="assets/img/partners/schreder.png">
        </div>
    </div>
</section>
<!-- ===================End Partner section===============================-->
<!-- ===================Clients section===============================-->
<section id="clientsId" class="mt-5 section dark-grey-text text-center">
    <div class="container-fluid mt-5 mb-5">
        <h1>
            OUR CLIENTS
        </h1>
        <hr>
        <div class="row partener-section">
            <img class="logos" src="assets/img/clients/57357_2.png">
            <img class="logos" src="assets/img/clients/egybank_w.jpg">
            <img class="logos" src="assets/img/clients/egygab.jpg">
            <img class="logos" src="assets/img/clients/jaz4.jpg">
            <img class="logos" src="assets/img/clients/travco.jpg">
            <img class="logos" src="assets/img/clients/opera.png">
        </div>
    </div>
</section>
<!-- ===================End Clients section===============================-->