<!-- ===================About us section===============================-->
<section id="whoWeAreId" class="section dark-grey-text text-center mt-5">
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-md-12">
                <h1 class="mt-5">
                    Remal Lighting
                </h1>
                <hr>
            </div>
            <div class="col-md-12 mt-5">
                <h5 style="text-align: center;">
                    OUR MISSION is to provide a friendly comfortable atmosphere where the customers can receive quality food, drinks and service at a reasonable price.
                </h5>
            </div>
        </div>
    </div>
</section>
<!-- ===================End About us section===============================-->
<section id="galleryId" class="section dark-grey-text text-center pb-2 bg-dark">
    <div class="container mt-5 mb-5">
        <div class="row mt-5">
            <div class="col-md-12 mt-4 text-light">
                <h1>
                    Our Products
                </h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 mt-4" *ngFor="let product of productList">
                <div class="bg-white box-item" placement="middle" ngbTooltip={{product.title}}>
                    <img src={{product.pathImage}} class="box-img mx-auto d-block" alt="contact-img">
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ===================End gallery section===============================-->

<!-- ===================Contact section===============================-->

<section id="contactId" class="section dark-grey-text text-center">
    <div class="container mt-5 mb-5">
        <div class="row mt-5">
            <div class="col-md-6 mt-5">
                <img class="mt-5 pt-5" src="assets/img/RL Logo.png" alt="contact-img" style="width:100%;">
            </div>
            <div class="col-md-6 mt-5">
                <app-contact-form [contactForm]="contactForm"> </app-contact-form>
                <div class="text-center">
                    <button class="main_btn">Send Message</button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ===================End contact section===============================-->

<!-- ===================Partner section===============================-->
<section id="partnersId" class="mt-5 section dark-grey-text text-center">
    <div class="container-fluid mt-5 mb-5">
        <h1>
            OUR PARTENERS
        </h1>
        <hr>
        <div class="row text-center">
            <div class="col-md-2" *ngFor="let partener of partenerList">
                <img class="logos" src={{partener.pathImage}}>
            </div>
        </div>
    </div>
</section>
<!-- ===================End Partner section===============================-->
<!-- ===================Clients section===============================-->
<section id="clientsId" class="mt-5 section dark-grey-text text-center">
    <div class="container-fluid mt-5 mb-5">
        <h1>
            OUR CLIENTS
        </h1>
        <hr>
        <div class="row">
            <div class="col-md-2 box-item" *ngFor="let client of clientList">
                <img class="logos box-img" src={{client.pathImage}}>
            </div>
        </div>
    </div>
</section>
<!-- ===================End Clients section===============================-->