<!-- ===================About us section===============================-->
<section id="whoWeAreId" class="section dark-grey-text text-center mt-5">
    <div class="container mt-5 mb-5">
        <div class="row mt-5">
            <div class="col-md-12">
                <h1 class="mt-5">
                    Remal First Class
                </h1>
                <hr>
            </div>
            <div class="col-md-12 mt-5">
                <p style="text-align: center;">
                    Remal First Class (RFC) is a part of Remal International, established in 2011, having its footprint in in diversified businesses, with an extensive range of innovative products and services offering to all segments of the market. RFC is a certified company:
                    ISO 9001 22015 (Quality Management System) & GHK (Good Housekeeping). RFC is a residential and commercial cleaning services providing different clients in Doha. Through generous human capital investments. Our clients ask for our service
                    because of the high level of professionalism and trustworthiness that we offer, not replicated by any of our competition RFC has developed a safety program to help protect workers from the hazards associated with its operations. A
                    “safety culture” is implemented on RFC sites, with stringent measures being applied to minimize and prevent the occurrence of accidents.
                </p>

            </div>
        </div>
    </div>
</section>
<!-- ===================End About us section===============================-->

<section id="galleryId" class="section dark-grey-text text-center">
    <div class="container mt-5 mb-5">
        <div class="row mt-5">
            <div class="col-md-12">
                <h1>
                    Gallery
                </h1>
                <hr>
            </div>
            <div class="col-md-12 mt-5">
                <app-gallery [images]="galleryImages"></app-gallery>
            </div>
        </div>
    </div>
</section>
<!-- ===================End gallery section===============================-->

<!-- ===================Contact section===============================-->

<section id="contactId" class="section dark-grey-text text-center">
    <div class="container mt-5 mb-5">
        <div class="row mt-5">
            <div class="col-md-6 mt-5">
                <img class="mt-5 pt-5" src="assets/img/FC_logo2.png" alt="contact-img" style="width:100%;">
            </div>
            <div class="col-md-6 mt-5">
                <app-contact-form [contactForm]="contactForm"> </app-contact-form>
                <div class="text-center row" style="justify-content: center;">
                    <div class="col-md-12" style="display: flex; justify-content: center;">
                        <mat-spinner diameter="50" *ngIf="isLoading"></mat-spinner>
                    </div>
                    <div class="col-md-12 mt-4">
                        <button class="main_btn" (click)="sendContact()" [disabled]="isSubmitted">Send Message</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- ===================End contact section===============================-->