<div class="card">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <div class="hovereffect">
            <img src="{{companyImage}}" class="img-fluid" />
            <div class="overlay">
                <div class="mt-3 row center-cards">
                    <div class="col-md-7 mt-1" *ngFor="let compName of companyNames">
                        <a (click)="onClickCard(compName)" class="pt-2 info">
                            <h5>{{compName}}</h5>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>