<div class="card">
    <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <div class="hovereffect">
            <img src="assets/img/circle.jpg" class="img-fluid" />
            <div class="overlay">
                <!-- <h2>Hover effect 1v2</h2> -->
                <a class="info" href="#"> <h2>Conmpany Name</h2></a>
             </div>
        </div>

    </div>
    <!-- <div class="card-body">
        <h5 class="card-title">Card title</h5>
       
    </div> -->
</div>